html, body {
	width: 100%;
	height: 100%;
	color: white;
	letter-spacing: 2px;
	text-align: center;
	font-weight: 300;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Lato', Helvetica, sans-serif;
}

h1, h2, h3 {font-weight: 400;}

h1 {
	font-size: 3em;
	margin-top: 40px;
	padding: 20px;
	font-weight: 300;
}

h2 {
	font-size: 1.5em;
	font-style: italic;
	padding: 30px;
}

h3 { 
   font-size: 2.5em; 
   font-weight: 300;
}

p {
	margin: 1em;
	line-height: 1.2em;
}

a {
	text-decoration: none;
	color: white;
}

em {
	font-style: italic;
}

pre {
	display: inline-block;
	padding: 20px;
	text-align: left;
	font-size: 1.2em;
}

/* Basic Pages */

.page {
	width: 100%;
	float: left;
	position: relative;
}

.page:before,
.page:after {
    content: "";
    display: table;
}

.page:after {
    clear: both;
}

.pagecontent {
	max-width: 1024px;
	margin: 0 auto;
}

.halfcontent {
	display: inline;
	float: left;
	width: 50%;
	text-align: left;
}

#top {
	min-height: 100%;
	background: white;
}

#about {
	background: #A8A8A8 ;
}

#uclamap {
	height: 45%;
}

#social {
	background: #484848;
}

#banner {
	height: 45%;
}

#banner img {
	width: 100%;
}

#contact {
	float: left;
	width: 100%;
	background: #181818;
}

#footer {
	color: #CCCCCC;
	background: black;
	font-size: 75%;
}

/* Nav */

nav {
	position: fixed;
	background: white;
	width: 100%;
	height: 50px;
	line-height: 50px;
	z-index: 2;
	box-shadow: 5px 5px 5px #888888;
}

nav a {
	color: black;
	padding: 15px;
}

nav a:hover {
	font-weight: 700;
}

/* Intro */

.intro {
	margin: 50px;
	font-weight: 300;
}

#introimg {
	max-width: 1024px;
	position: relative;
	margin-top: 100px;
	min-width: 600px;
}

#intro1 {color: #C0C0C0;}
#intro2 {color: grey;}
#intro3 {color: black;}

#downarrow {
	position: fixed;
    z-index: 10;
	bottom: 0px;
	right: 0px;
	margin: 30px;
}

#downarrow img {
	width: 100px;
}

/* About */

#portrait {
	height: 400px;
	
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border: 1px solid red;
}

#aboutbrief {
	height: 400px;
	
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border: 1px solid blue;
}

#abouttext {
	text-align: left;
	
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border: 1px solid green;
}

.quote {
	float: right;
	width: 40%;
	
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border: 1px solid yellow;
}

/* Social Media */

.iconcontainer {
	display: inline;
	height: 160px;
}

.iconcontainer img{
	width: 100px;
	height: 100px;
	margin: 20px;
	border-radius: 0.5em;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

.iconcontainer img:hover {
	width: 150px;
	height: 150px;
}

#fblogo img:hover {
	background: #4747CC;
}

#inlogo img:hover {
	background: #335C85;
}

#instalogo img:hover {
	background: #B56C47;
}

#twitter {
	width: 600px;
	min-height: 700px;
	text-align: center;
	margin: 0 auto;
}

.twitter-timeline
{
	height: 500px;
	margin: 20px;
}

/* Contact */

#contactwrapper {
	min-height: 600px;
}

#contactcontainer {
	text-align: center;
	padding-right: 20px;
	
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border: 1px solid red;
}

#contactcontainer ul {
	list-style-type: none;
}

#contactcontainer img {
	max-width: 150px;
	-webkit-filter: invert(100%);
}

.contacttitle {
	font-size: 3em;
	margin-bottom: 20px;
}

.contactbody {
	font-size: 2em;
	margin-bottom: 20px;
}

#contactform {
	padding-left: 20px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border: 1px solid blue;
}

#contactform h3{
	text-align: center;
}

#messageinput {
	min-width: 400px;
	height: 150px;
}

input[type=submit] {
	padding:5px 15px; background:#ccc; border:0 none;
	cursor:pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#formsend {
	background: #EE6363;
	font: inherit;
	color: white;
	margin-top: 10px;
	margin-bottom: 10px;
	box-shadow: 2px 2px 2px black;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

#formsend:hover {
	background: #F08080;
}
